/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8fafc;
  color: #111827;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Sections */

section {
  padding: 70px 8%;
}

/* Buttons */

button {
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  font-family: inherit;
}

button:hover {
  transform: translateY(-3px);
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Images */

img {
  max-width: 100%;
  display: block;
}

/* Inputs */

input {
  font-family: inherit;
}

/* Responsive */

@media (max-width: 768px) {
  section {
    padding: 50px 5%;
  }
}
